
/* 
   ██╗     ███████╗ ██████╗ ██████╗  █████╗ ██████╗  ██████╗  ██████╗ 
   ██║     ██╔════╝██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██╔═══██╗██╔════╝ 
   ██║     █████╗  ██║  ███╗██████╔╝███████║██████╔╝██║   ██║██║  ███╗
   ██║     ██╔══╝  ██║   ██║██╔═══╝ ██╔══██║██╔══██╗██║   ██║██║   ██║
   ███████╗███████╗╚██████╔╝██║     ██║  ██║██║  ██║╚██████╔╝╚██████╔╝
   ╚══════╝╚══════╝ ╚═════╝ ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝  ╚═════╝ 
*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    display:flex;
    justify-content:center;
    background-color:rgb(233, 233, 233);
   
}

.Hipe{
    display: flex;
    height: 500px;
    width: 100%;
}

header{
    background-color:black;
    width:100%;
  
    height: 10%;
}
.container{
    display:flex;
    align-items:center;
    
    max-width:1080px;
    height:55px
}
.box {
    width: 30%;
}
.logo{
    color:greenyellow;
    width:8%;
    height:50px;
}
.menu{
    color:rgb(160, 160, 160);
    width:10%
}
#link:active{
    color:rgb(165, 0, 0)
}
#link{
    background-color:#857b7b;
    border-radius:4px;
    font-style:italic;
    color:black;
    font-size:16px;
}


.lay{
    display:flex;
    align-items:center;
    width:100%;
    height:90%;
    position:absolute;
    background-color:transparent;
    top:18%;
    
}

.texto{
   display:flex;
   justify-content:center;
   position:absolute;
   top:1%;
   width:100%;
   height:7%
}
#complemento {
    position: absolute;
}
.Proposta{
    display: flex;
    position: absolute;
    width: 100%;
    height:7%;
top: 9%;
}
.bo2{
    width: 10%;
}
.serifado{
    font-family: serif;
}
.FDM{
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}



/*altura*/

@media(max-height:651px) {
    .lay,.Proposta{
       top:10%;
    }
    
}
@media(max-height:422px) {
    .lay,.Proposta {
        top: 15%;
    }
    
}
@media(max-height:222px) {
    .lay,.Proposta {
        top: 21%;
    }
}

/*Largura*/

@media (max-width:540px) {
    #link{
        font-size: 80%;
    }
    h1{
        font-size:21px;
    }
    .box{
        width: 8%;
    }
    .logo{
        width: 11%;
    }
}
@media(max-width:450px) {
    .logo, .menu {
        width: 15%;
    }

    #link {
        font-size: 70%;
    }

    .lay {
        height: 93%;
        top: 8%;
    }

    .box {
        width: 0%;
    }
}